.page {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

body {
    height: calc(100% - var(--header-height));

    display: flex;
    flex-flow: row nowrap;
}

.container {
    flex: 1;
    margin: 1%;
}

app-chat {
    flex: initial;
    width: 25vw;
}
