<!doctype html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="dialog-box">
    <h1 mat-dialog-title class="header">Sélectionnez les questions à ajouter</h1>
    <mat-dialog-content>
        <mat-accordion class="accordion">
            <div class="question" *ngFor="let question of getQuestions()">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="panel-header">
                        <mat-panel-title class="title shortenable">{{ question.text }}</mat-panel-title>
                        <mat-panel-description>{{ question.points }} points - {{ question.type }}</mat-panel-description>
                        <button mat-icon-button [matTooltip]="getTooltip(question)" (click)="toggleSelectQuestion(question, $event)">
                            <mat-icon>{{ isSelected(question) ? 'close' : 'add' }}</mat-icon>
                        </button>
                    </mat-expansion-panel-header>
                    <div class="question-text"><b>Question:</b> {{ question.text }}</div>
                    <div><b>Choix de réponse:</b></div>
                    <div class="choice" *ngFor="let choice of question.choices; index as i">
                        <div>{{ i + 1 }}. {{ choice.text }}</div>
                        <div class="validity-icon">
                            <mat-icon *ngIf="choice.isCorrect" style="color: var(--right-answer)">check</mat-icon>
                            <mat-icon *ngIf="!choice.isCorrect" style="color: var(--wrong-answer)">close</mat-icon>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </mat-dialog-content>
    <div mat-dialog-actions class="margin-actions">
        <button mat-raised-button (click)="cancel()">Annuler</button>
        <button mat-raised-button color="primary" (click)="confirm()">Confirmer</button>
    </div>
</div>
