.evaluation-card {
    background-color: var(--alternative-0);
}
.selected-none {
    background-color: var(--background);
    color: var(--text);
}
.selected-half {
    background-color: var(--dark-background);
    color: var(--text);
}
.selected-all {
    background-color: var(--accent);
    color: var(--text);
}
.next > *:hover {
    background-color: var(--alternative-1);
    color: var(--text);
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.actions > * > * {
    margin-right: 10px;
}

.answer {
    word-break: break-word;
}
