.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-background);
}
.title {
    color: var(--text-background);
    background-color: var(--text);
}
.input {
    margin: 10px;
}
button:hover {
    background-color: var(--dark-background);
    color: var(--text);
}
