input {
    margin-left: 10px;
}
.mat-expansion-panel {
    margin-bottom: 10px;
    background-color: var(--secondary);
}
.random {
    margin-top: 10px;
}
.random:hover {
    background-color: var(--dark-background);
    color: var(--text);
}
.title,
.infos > * {
    color: var(--light-background);
}
